						html span {
				-webkit-transition: none;
				transition: none;
			}
			[class^="btn-"],
			[class^="btn-"] span:before,
			[class^="btn-"] span:after,
			[class^="btn-"]:before,
			[class^="btn-"]:after {
				box-sizing: border-box;
				-webkit-transition: 0.5s;
				transition: 0.5s;
			}

			*:before,
			*:after {
				z-index: -1;
			}

			[class^="btn-"] {
				position: relative;
				display: block;
				/*margin: 20px auto;*/
				width: 100%;
				height: 60px;
				max-width: 250px;
				text-transform: uppercase;
				overflow: hidden;
				color:#eee;
				font-size:14px;
				/*border: 1px solid currentColor;*/
			}
			[class^="btn-"]:hover ,[class^="btn-"]:hover em,[class^="btn-"]:hover i{
				color:#000;
				font-size: 20px;
			}

			.btn-1-2:active {
				background: #45c4b3;
			}
			.btn-1-2:before {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent transparent transparent rgba(242,15,4,0.4);
				position: absolute;
				bottom: 0;
				left: 0;
			}
			.btn-1-2:hover:before {
				border-width: 205px 0 0 205px;
			}
			.btn-1-2:after {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);	
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent transparent rgba(242,15,4,0.4) transparent;
				position: absolute;
				right: 0;
				bottom: 0;
			}
			.btn-1-2:hover:after {
				border-width: 0 0 205px 205px;
			}



			.btn-3:active {
				background: #b93745;
			}
			.btn-3:before {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent transparent transparent rgba(242,166,4,0.4);
				position: absolute;
				bottom: 0;
				left: 0;
			}
			.btn-3:hover:before {
				border-width: 165px 0 0 165px;
			}
			.btn-3:after {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent rgba(242,166,4,0.4) transparent transparent;
				position: absolute;
				top: 0;
				right: 0;
			}
			.btn-3:hover:after {
				border-width: 0 165px 165px 0;
			}
			.btn-3 span:before {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent transparent rgba(242,166,4,0.4) transparent;
				position: absolute;
				right: 0;
				bottom: 0;
			}
			.btn-3:hover span:before {
				border-width: 0 0 165px 165px;
			}
			.btn-3 span:after {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: rgba(242,166,4,0.4) transparent transparent transparent;
				position: absolute;
				top: 0;
				left: 0;
			}
			.btn-3:hover span:after {
				border-width: 165px 165px 0 0;
			}




			.btn-2:active {
				background: #0c4a57;
			}
			.btn-2:before {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent transparent transparent rgba(239,242,4,0.4);
				position: absolute;
				bottom: 0;
				left: 0;
			}
			.btn-2:hover:before {
				border-width: 165px 0 0 165px;
			}
			.btn-2:after {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent rgba(239,242,4,0.4) transparent transparent;
				position: absolute;
				top: 0;
				right: 0;
			}
			.btn-2:hover:after {
				border-width: 0 165px 165px 0;
			}


			.btn-4 {
				/*color: #7d8d5c;*/
			}
			
			.btn-4:after {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent rgba(54,214,104,0.4) transparent transparent;
				position: absolute;
				top: 0;
				right: 0;
			}
			
			.btn-4:before {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent transparent transparent rgba(54,214,104,0.4);
				position: absolute;
				bottom: 0;
				left: 0;
			}
			
			.btn-4:before,
			.btn-4:after {
				border-color: rgba(54,214,104,0.4);
			}
			
			.btn-4 span:after {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: rgba(54,214,104,0.4) transparent transparent transparent;
				position: absolute;
				top: 0;
				left: 0;
			}
			
			.btn-4 span:before {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent transparent rgba(54,214,104,0.4) transparent;
				position: absolute;
				right: 0;
				bottom: 0;
			}
			
			.btn-4 span:before,
			.btn-4 span:after {
				border-color: rgba(54,214,104,0.4);
			}	
			.btn-4:hover:before {
				border-width: 20px 63.5px 20px 63.5px;
			}
			
			.btn-4:hover:after {
				border-width: 20px 63.5px;
			}
			
			.btn-4:hover span:before {
				border-width: 20px 63.5px;
			}
			
			.btn-4:hover span:after {
				border-width: 20px 63.5px;
			}
			
			.btn-4:active {
				background: #66793f;
			}



			.btn-5:active {
				background: #042757;
			}
			.btn-5:after {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent rgba(79,208,255,0.7) transparent transparent;
				position: absolute;
				top: 0;
				right: 0;
			}
			.btn-5:before {
				content: '';
				width: 0;
				height: 0;
				-webkit-transform: rotate(360deg);
				border-style: solid;
				border-width: 0 0 0 0;
				border-color: transparent transparent transparent rgba(79,208,255,0.7);
				position: absolute;
				bottom: 0;
				left: 0;
			}	
			.btn-5:hover:before,
			.btn-5:hover:after {
				border-width: 80px 260px;
			}


			.btn-6 {
				/*color: #00bbff;*/
			}
			.btn-6:hover {
				color: #e5ccf1;
			}
			.btn-6:active {
				background: #dc0000;
			}
			.btn-6 span {
				position: absolute;
				display: block;
				width: 0;
				height: 0;
				border-radius: 50%;
				background: rgba(16,124,245,0.6);
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				-webkit-transition: width 0.4s, height 0.4s;
				transition: width 0.4s, height 0.4s;
				z-index: -1;
			}
			.btn-6:hover span {
				width: 562.5px;
				height: 562.5px;
			}


			.btn-7 {
				/*color: #41c46a;*/
			}
			.btn-7:hover {
				color: #c7eed3;
			}
			.btn-7:active {
				background: #1fb950;
			}
			.btn-7:before,
			.btn-7:after,
			.btn-7 span:before,
			.btn-7 span:after {
				content: '';
				position: absolute;
				top: 0;
				width: 49px;
				height: 0;
				background: rgba(123,25,202,0.4);
			}
			
			.btn-7:before {
				left: 0;
			}
			
			.btn-7:after {
				left: 98px;
			}
			.btn-7 span:before,
			.btn-7 span:after {
				top: auto;
				bottom: 0;
			}
			.btn-7 span:before {
				left: 49px;
			}
			.btn-7 span:after {
				left: 147px;
			}
			
			
			
			.btn-7:hover:before,
			.btn-7:hover:after,
			.btn-7:hover span:before,
			.btn-7:hover span:after {
				height: 80px;
			}


			.btn-10 {
				/*color: #4ab36a;*/
			}
			
			.btn-10:before,
			.btn-10:after,
			.btn-10 span:before,
			.btn-10 span:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 80px;
				background: rgba(255, 255, 255, 0.25);
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}
			
			.btn-10:after,
			.btn-10 span:before {
				left: auto;
				right: 0;
			}
			
			.btn-10 span:before,
			.btn-10 span:after {
				-webkit-transition-delay: 0.4s;
				transition-delay: 0.4s;
			}
			
			.btn-10:hover {
				color: #cae9d3;
			}
			
			.btn-10:hover:before,
			.btn-10:hover:after,
			.btn-10:hover span:before,
			.btn-10:hover span:after {
				width: 250px;
			}
			
			.btn-10:active {
				background: #2aa550;
			}