body,html{
	width: 100%;
	height:100%;
}
body{
	margin: 0;
	font:16px "Microsoft Yahei","tahoma","arial";
}
h1,h2,h3{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color:#fff;
	-webkit-text-size-adjust:none;
}
i {
    font-style: normal;
}
ul,li{
	list-style: none;
	padding:0;
	margin:0;
}
input{
	padding: 0;
	list-style: none;
	border: none;
	outline: none;
    font-size: 14px;
    border-radius: 16px;
}
strong,em{
	font-weight: normal;
	font-style: normal;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
/*清除默认样式*/
#cloudAll{
	/*overflow: hidden;*/
    position: absolute;
    top: 0;
    /*right: 0;
    bottom: 0;*/
    left: 0;
    /*background: #00bbff;*/
    background:-ms-linear-gradient(left,#000 0%,#dc0000 55%,#000 100%);
    background:-moz-linear-gradient(left,#000 0%,#dc0000 55%,#000 100%);
    background:-webkit-linear-gradient(left,#000 0%,#dc0000 55%,#000 100%);
    background:-o-linear-gradient(left,#000 0%,#dc0000 55%,#000 100%);
    width:100%;
    height:100%;
}
/*-----------Aside---------*/
#cloudAside{
	top:62px;
    left: 0px;
    bottom: 0px;
    z-index: 9;
    position: absolute;
    width: 194px;
    height: calc(100% - 62px);
    /*background: pink;*/
}
.asideModule{
	position: relative;
	padding-top: 10px;
    height: calc(100% - 10px);
    /*background: purple;*/
}
.asideMain{

}
.asideMain li{
	/*height:45px;*/
	width: 100%;
	text-align: center;
	line-height:60px;

}
.asideMain a{
	display: block;
}
.asideMain i{
	padding: 0 8px;
}
.asideMain span{
	padding: 0 8px;
}
.asideRemaining{
	position: absolute;
	bottom:0;
	left:0;
	height:34px;
	margin: 8px 20px;
    width: 155px;
    background: #00bbff;
}
.asideScoll{
	height: 8px;
    width: 155px;
    background: #42aee7;
    /*background: rgba(0,0,0,.1);*/
    line-height: 0;
    _font-size: 0;
    border-radius: 10px;
    overflow: hidden;
    top: 0;
    left: 0;
}
.asideScollRect{
	width: 21.6202%; 
    background: rgb(146, 239, 85);
	height: 8px;
    line-height: 0;
    _font-size: 0;
    display: block;
    border-radius: 10px;
}
.asideScollContent,.asideScollAdd{
	margin-top: 5px;
	font-size:14px;
	line-height: 24px;
}
.asideScollAdd{
	margin-top: 5px;
	font-size:14px;
	line-height: 24px;
	margin-right:5px; 
}
/*-----------Aside---------*/
/*-----------main---------*/
#cloudMain{
    top: 62px;
    left: 194px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    background:rgba(255,255,255,0.8);
}
.mainHead{
	position: relative;
    /*background-color: #FFF;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*padding: 4px 0 3px;*/
}
.mainHeadBox{
	padding:9px 20px 9px; 
	height:34px;
	background: rgba(255, 255, 255, 0.2);
	line-height: 34px;
	    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.listOrGrid{
	width: 34px;
	height:34px;
	text-align: center;
	transition: 0.5s;
}
.listOrGrid:hover,.sortBtn div:hover{
	font-size:20px;
	color:#e31212;
}
.list .MainListBtn{
	display: block;
}
.MainListBtn{
	display: none;
}
.list .MainGridBtn{
	display: none;
}
.sortBtn{
	position: relative;
	margin-right: 10px;

}
.sortBtn div{
	width: 34px;
	height:34px;
	text-align: center;
	transition: 0.5s;
}
.sortSwitchUl{
	position: absolute;
    right: 0;
    top: 38px;
    width: 100px;
    background: #fff;
    border-radius: 4px;
    /*border: 1px solid #c0d9fe;*/
    z-index: 99;
    display: none;
}

.sortSwitchUl li{
	font-size:14px;
	height:25px;
    text-align: left;
    cursor: pointer;
    /*color: #3B8CFF;*/
    position: relative;
    line-height: 25px;
}

.sortSwitchUl em{
	margin:2px 5px 3px 5px; 
	width: 20px;
	height:20px;
	float: left;
	/*background: #000;*/
	margin-right: 10px;
}
.sortSwitchUl span{
	display: inline-block;
	vertical-align: top;
}
.sortSwitchUl li:hover em,.sortSwitchUl li:hover span{
	color:#e31212;
}
.searchBtn{
    /*width: 15%;*/
   /* min-width: 165px;
    max-width: 315px;*/
    height: 34px;
    position: relative;
    /*background: red;*/
    margin-right: 15px;
}
.searchFromBox{
	padding-left: 15px;
    padding-right: 50px;
    background: #eee;
    height:34px;
    width: 190px;
    border-radius: 33px;
    position: relative;
}
.searchFromBox form{

}
.searchFromBox input{
	display: block;
	width: 100%;
    height: 34px;
    border: 0;
    outline: 0;
    line-height: 29px;
    position: relative;
    font-size: 12px;
    background: #eee;
}
.searchGlass{
	position: absolute;
	width: 20px;
	height:34px;
	top:0;
	right:16px;

}
.funNav{
	height: 34px;
	margin:0 10px; 
	/*background: rgb(52,85,88);*/
	font-size:14px;

}
.funNav em{
	padding:0 5px;
	color:#000;		
}
.funNav span{
	padding:0 5px;
	color:#000;
}
.funNav a{
	float: left;
	margin-right: 5px;
	line-height: 34px;
	position:relative;
	/*background: rgb(100,100,100);*/
}
.funNav .bottomLine,.breadParent .bottomLine{
	position: absolute;
	bottom:-5px;
	left:0;
	width: 100%;
	height:5px;
	transform: scaleX(0);
	padding: 0;
	background:-webkit-linear-gradient(left,#000 0%,#dc0000 55%,#000 100%);
	/*display: none;*/
	border-radius: 50%;
	transform-origin:center center; 
	transition: 1s;
}
.funNav a:hover .bottomLine{
	transform: scaleX(1);

}
.breadParent a:hover,.funNav a:hover em,.funNav a:hover span{
	color:#e31212;
}
.funNav .delete,.funNav .rename,.funNav .copy,.funNav .move{
	transform:scale(0);
	opacity: 0;
	display: none;
}
.mainListAndLoad{
	padding-left: 16px;
    /*background-color: rgb(200,200,200);*/
    height: 20px;
    margin-top: 5px;
	line-height: 20px;
	font-size: 14px;
}
.backBox{
	position: relative;
}
.backBox a{
	padding:0 10px;
	/*background:#00bbff;*/
}

.backBoxBg{
	position: absolute;
	width: calc(100% - 16px);
	height: 100%;
	top:0;
	left:0;
	background:-webkit-linear-gradient(left,#000 0%,#dc0000 55%,#000 100%);
	opacity: 0;
	transition: 1s;
	z-index: -1;
	border-radius: 50%;
}
.backBox:hover .backBoxBg{
	opacity: 1;
}
.backBox .back{
	color:#000;

}
.backBox:hover .back{
	color:#fff;
}
.backTree{
	width: 1px;
	height:16px;
	background: #000;
	margin: 2px 10px 0 5px;

}
.breadParent i{
	font-family: 仿宋;
    color: rgba(255, 255, 255, 0.8);
    margin: 0px 3px;
    color:#000;
}
.breadParent div{
	position: relative;transition: 1s;
}
.breadParent a{
position: relative;
 color:#000;
}
.breadParent a:hover{
	/*background: rgba(255, 255, 255, 0.8);*/
	
}
.breadParent a:hover .bottomLine{
	transform: scaleX(1);

	/*height:5px;*/
}
.load{
	margin-right: 20px;
	padding: 0 5px
}
.allCheckBox{
	height:36px;
	position: relative;
}
.allCheck i{
	position: absolute;
    top: 11px;
    left: 11px;
    display: block;
    background: url(../img/check.png) no-repeat left top;
    height: 14px;
    width: 14px;
}
.allCheckBox div.active i{
	/*position: absolute;
    top: 11px;
    left: 11px;
    display: block;
    background:rgb(150, 150, 150);
    height: 14px;
    width: 14px;*/
    background: url(../img/check.png) no-repeat right top;
}
.allCheck span{
	padding-left: 36px;
    line-height: 36px;
    position: relative;
}
/*--list--*/
.folder{
	height: calc(100% - 114px);
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	overflow: auto;
	font-size: 12px;
	position: relative;
}
.smallNewBuild{
	background: url(../img/kong.png) no-repeat center;
	position: absolute;
	width:300px;
	height:200px; 
	left:calc(50% - 150px);
	top:calc(50% - 100px);
}	
/*.main div:nth-of-type(3).active{
	background: url(../img/kong.png) no-repeat center;
	
}*/

.folders{
	padding-left: 3px;
}
.folder ul li {
    position: relative;
    float: left;
    width: 120px;
    height: 127px;
    text-align: center;
    border: 1px solid transparent;
    margin: 3px;
    border-radius: 8px;
}
.folders li:hover{
	background: rgba(255, 255, 255, 0.4);
}
.folders li.active{
	background-color: rgba(255, 255, 255, 0.4);
}
.folders li i {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 18px;
    height: 18px;

    /*border-radius: 9px;*/	
    background: url(../img/check.png) no-repeat left bottom;
    
    text-align: center;
    line-height: 20px;
    color: #000;
    cursor: pointer;
    border: none;
    /*opacity: .3;*/
    display: none;
}
.folders li:hover i{
	display: block;
}
.folders li.active i{
	display: block;
	background: url(../img/check.png) no-repeat right bottom;
}
.foldername{
	color:#000;
	font-size:10px;
	display: inline-block;
	-webkit-transform:scale(0.95);
}
.foldername:hover{
	color:#d63215;
}
.active .foldername{
	color:#d63215;
}
.checkbox {
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 12px;
	/*border: 1px solid #d6dce4;*/
	text-align: center;
	line-height: 12px;
	border-radius: 2px;
}
.folders li .folderimg {
    display: block;
    margin: 20px auto;
    width: 56px;
    height: 56px;
    background: url(../img/folder.png) no-repeat;
    /*background: #00BBFF;*/
    background-size:cover; 
}
.folderimg img{
    width: 56px;
    height: 56px;
}
.folders li .more{
	display: none;
}
.folder form.active{
	display: block
}
.change-foldername{
	display: none;
	position: absolute;
	height:20px;
	bottom:12px;
	left:0;
	width:120px;
}
.change-foldername .change{
	width: 100%;
	height:20px;
	/*background-color: rgba(0,0,0,.8);*/
	border-radius: 5px;
	margin: 0 auto; 
	text-align: center;
	/*color:#fff;*/
}
.change-foldername .changenamesure,.change-foldername .changenameno{
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	background: #00bbff;
	float:left;
	margin-left:4px; 
}
.folder ul.listfile li{
	position: relative;
	height: 44px;
	border-bottom: 1px solid #f7f6fb;
	line-height: 44px;
	padding-left: 10px;
	float:none;
	margin: 0;

	width:calc(100% - 15px);
}
ul.listfile li:hover{
	background-color: rgba(130, 189, 227, 0.4);;
}
ul.listfile li.active{
	background-color: rgba(130, 189, 227, 0.4);;
}
ul.listfile li span,ul.list li a{
	float: left;
}
ul.listfile li:hover i{
	display: block;
	/*background: #00bbff;*/
	background: url(../img/check.png) no-repeat left bottom;
}
ul.listfile li .folderimg{
	width: 26px;
	height: 26px;
	margin: 8px;
	float:left;
	/*background: url(../img/folder.png) no-repeat;*/
	background-size: cover;
}
ul.listfile li .folderimg img{
	width: 26px;
	height: 26px;
}
ul.listfile li i{
	float: left;
	width: 18px;
	height:18px;
	margin:12px; 
	
}
ul.listfile li.active i{
	display: block;
	background: url(../img/check.png) no-repeat right bottom;
}
ul.listfile .foldbox,ul.list .more{
	float: left;
}
ul.listfile .foldbox{
	width: 60%;
}

ul.listfile li .more{
	display: block;
	width: 40%;
	float:right;
}
ul.listfile li time{
	float: right;
	width: 50%;
}
ul.listfile .foldername{
	margin-left:30px;
	float: left;
	font-size:14px;
	line-height: 44px;
}
ul.listfile .change-foldername{
	left:100px;
	bottom:23px;
}
/*==list==*/
/*-----------main---------*/
/*-----------head---------*/
#cloudHead{
	top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 62px;
    z-index: 41;
    position: absolute;
    /*background: red;*/
}
.logo{

	width: 194px;
	/*background: orange;*/
	height:100%;
}
.logoPig{
	float:left;
	width:100%;
	height:100%;
	background: url(../img/logo.png) no-repeat;
}
.logoText{
	font-size:14px;

}
.user{
	padding:11px 0 ;
	cursor: pointer;
	margin-right:20px 
}
.userHead{
	width: 40px;
	height:40px;
	background: #fff;
	margin-right: 5px;
}
.userHead img{
	width: 40px;
	height:40px;
}
.userName{
	padding: 0 8px;
	line-height: 40px;
	color:#b23620;
}
/*---*/
.mask{
	position: fixed;
    left: 0px;
    top: 0px;
    z-index: 50;
    background: rgb(0, 0, 0);
    opacity: 0;
    width: 100%;
    height: 100%;
    /*display: block;*/
    transform:scale(0);
}
.dialogFileTree{
	position: absolute;
    overflow: hidden;
	width: 520px;
	left:calc(50% - 260px);
	top:calc(50% - 161px);
    display: block;
    z-index: 52;
    background: #fff;
    height:321px;
    transform:scale(0);
}
.dialogFileTreeHead{
	background-color: #f7faff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #c4dbfe;
    height: 44px;
    line-height: 44px;
    font-weight: 200;
}
.dialogFileTreeHead h3{
	line-height: 42px;
    text-indent: 1em;
    font-size: 14px;
}
.dialog-control{
	cursor: pointer;
	top: 13px;
    right: 12px;
    position: absolute;
    height: 20px;
    width: 20px;
}
.dialog-close{
	font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: #5f7094;
    margin: 0 2px;
}
.dialog-body{

}

	
.file-tree-container{
	height: 200px;
    margin: 10px 11px;
    border: 1px solid #f2f2f2;
    overflow: auto;
    /*background: pink;*/
}
.file-tree-container ul{
	padding-left: 10px;
}
/*--可能有问题--*/
.file-tree-container ul ul.active{
	display: block;
}
.file-tree-container li{
	font:16px/20px "微软雅黑";
	margin: 8px 0;
	white-space:nowrap; 
}
.file-tree-container span{
	padding: 0 8px;
	height:20px;
	border:1px solid transparent;
}
.file-tree-container span:hover{
  /*border: 2px solid rgba(130, 189, 227, 0.8);*/
  /*box-shadow: -1px -1px 0 #91c5e6;*/
  box-sizing:border-box;
  height: 18px;
  border:1px solid rgba(130, 189, 227, 0.8);
  background-color: rgba(130, 189, 227, 0.4);
}
.file-tree-container span.active{
  /*border: 2px solid rgba(130, 189, 227, 0.8);*/
  /*box-shadow: -1px -1px 0 #91c5e6;*/
  box-sizing:border-box;
  height: 18px;
  border:1px solid rgba(130, 189, 227, 0.8);
  background-color: rgba(130, 189, 227, 0.4);
}
.file-tree-container i{
	height: 20px;
	width: 20px;
	
	display: inline-block;
	vertical-align: top;
}
.file-tree-container .sjx{
	background: url(../img/sjx.png) no-repeat center center;
}

/*--可能有问题--*/

.dialog-header-title{
	display: block;
    margin-right: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dialog-footer{
	padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    text-align: center;
}
.dialog-footer-btn{
	text-decoration: none;
    color: #3b8cff;
    border: 1px solid #c0d9fe;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    padding: 0 50px;
}
/*---*/
/*---弹出框--*/
.alertWrap{
	width: 300px;
	height:200px;
	background: #fff;
	position: fixed;
	left:calc(50% - 150px);
	top:calc(50% - 100px);
	z-index: 55;
	transform:scale(0);
}
.alertContent{
	width: 80%;
	margin:50px auto 0;
	text-align: center;
}
.alertBtnBox{
	position: absolute;
	bottom:20px;
	left:0;
	width: 100%;
	text-align: center;
	display: none;
}
/*---弹出框--*/
/*右键*/
.rk{
	position: absolute;
	z-index: 90;
	background:rgba(255,255,255,0.3);
	width:150px;
	text-align: center;
	color:#000;
}
.rk a{
	display: block;
	color:#000;
	height:24px;
	line-height: 24px;
	font-size: 14px;
	position: relative;
}
.rk span{
	position: absolute;
	width: 100%;
	transition: 1s;
	transform: scale(0);
	transform-origin:center; 
	bottom:0;
	left:0;
	height:2px;
	background:-webkit-linear-gradient(left,#000 0%,#dc0000 55%,#000 100%);
}
.rk a:hover span{
	transform: scale(1);

}
.rk a:hover{
	color:#d90c0c;
}
.border{
	/*padding-left: 12px;*/
	/*border-bottom: 1px solid #000;*/
}

.noFile div{
	text-align: left;
}
.noFile .border{
	text-align: center;
}

.rk .hasfile,.rk .noFile,.rk .rightdelete{
	display: none;
}
.rightKey .hasfile,.rightdel .hasfile{
	display: none;
}

.rightKey .noFile{
	display: block;
}
.rightFile .hasfile{
	display: block;
}

.rightFile .noFile,.rightdel .noFile{
	display: none;
}

.rightdel .rightdelete{
	display: block;
}
.rightFile .rightdelete,.rightKey .rightdelete{
	display: none;
}
/*右键*/